@charset "utf-8";

/* abeezee-regular - latin */
@font-face {
	font-family: 'ABeeZee';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/abeezee-v22-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/abeezee-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/abeezee-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/abeezee-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/abeezee-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/abeezee-v22-latin-regular.svg#ABeeZee') format('svg'); /* Legacy iOS */
}

/* itim-regular - latin */
@font-face {
	font-family: 'Itim';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/itim-v10-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/itim-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/itim-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../fonts/itim-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/itim-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../fonts/itim-v10-latin-regular.svg#Itim') format('svg'); /* Legacy iOS */
}

/* Global Styles */
body {
	background-image: url("https://kreativletter.shesmile.de/images/background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

/* Header */
header {
	padding: 50px 50px 50px 50px;
 	background-color: #ffffff;
	align-content: center;
}

h1 {
	font-family: 'Itim', cursive;
	color: #6A4853;
	font-size: 35px;
	line-height: 33px;
	font-weight: normal;
}

h3 {
	font-family: 'Itim', cursive;
	color: #8A5F6A;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

h4 {
	font-family: 'Itim', cursive;
	color: #ff9d90;
	font-size: 19px;
	line-height: 22px;
	font-weight: normal;
}

p, li, ul {
	font-family: 'ABeeZee', sans-serif;
	color: #6A4853;
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
}

a:link, a:visited, a:active {
	color: #ff9d90;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #DB948A;
}

/* Footer */

footer .footerDisclaimer{
	font-family: 'Itim', cursive;
	color: #DCCFCB;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	float: center;
	margin: 0px 50px 50px 50px;
}
